body{
	
	margin: 0;
	font-family: monospace;
}

.navigation {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 0vw;;
	background-color: rgb(253, 251, 251);
	border: 1px solid whitesmoke;
	padding: 0;
}
.ulist{
	padding: 0;
	margin-left: 5px;
	width: 150px;
	height: 4000px;
}

.menu {
	display: flex;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	margin-bottom: 5%; 
	background-color:rgb(118, 175,201);
	border: 1px solid whitesmoke;
	border-radius: 5px;
	padding: 2%;
	justify-content: center;
}

.menu a:hover {
	background-color: #f0f0f0;
	text-decoration: none;
}

h2 {
	text-align: center;
	height: 5vw;
	width: 45vw;
}

#max {
	border: 1px solid rgb(118, 175, 201);
	border-radius: 5px;
	background-color: rgb(118, 175, 201);
	width: 15%;
	font-size: 150%;
	font-weight: 400;
	text-decoration: none;
}

#pixel {
	width: 60px;
	height: 60px;
	vertical-align: middle;
}

.titulos {
	display: flex;
	align-items: center;
	justify-content: center;
}
.content {
	width: 30vw;
	flex: 1;
	padding: 20px;
	margin-left: 30vw;
}

img {
	animation: shake 2s ease-in-out infinite;
}

@keyframes shake {
	0% {
		transform: translateX(0);
	}

	20% {
		transform: translateX(-10px);
	}

	40% {
		transform: translateX(10px);
	}

	60% {
		transform: translateX(-10px);
	}

	80% {
		transform: translateX(10px);
	}

}

.contenido h4,
p {
	text-align: center;
}

.button {
	display: flex;
	justify-content: center;
}

.list {
	display: flex;
	justify-content: center;
}
footer {
	background-color: rgb(118, 175, 201);
	width: 100%;
	padding: 1%;
	
}