body {
	height: 100%;
	margin: 0;
	font-family: monospace;
}

header {
	margin-left: 5px;
	background-color: rgb(118, 175, 201);
	max-width: 100%;
	padding: 1%;
}

.navigation {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 0vw;
	background-color: rgb(253, 251, 251);
	border: 1px solid whitesmoke;
	padding: 0;
}

.ulist {
	border: 1px solid rgb(126, 122, 122);
	background-color: white;
	padding: 20px;
	margin-left: 5px;
	width: 150px;
}

.menu {
	display: flex;
	font-size: 14px;
	text-align: center;
	margin-bottom: 5%;
	background-color: rgb(118, 175, 201);
	border: 1px solid rgb(118, 175, 201);
	border-radius: 5px;
	padding: 2%;
	justify-content: center;
}

.menu a:hover {
	background-color: #f0f0f0;
	text-decoration: none;
}

h2 {
	text-align: center;
	max-height: 35px;
	max-width: 100%;
}

#max {
	border: 1px solid rgb(118, 175, 201);
	border-radius: 5px;
	background-color: rgb(118, 175, 201);
	width: 100px;
	font-size: 150%;
	font-weight: 400;
	text-decoration: none;
}

#pixel {
	width: 60px;
	height: 60px;
}

.titulos {
	display: flex;
	align-items: center;
	justify-content: center;
}

.content {
	max-width: 250px;
	min-width: 10px;
	padding: 20px;
	margin-left: 30%;
}

.contenido h4,
p {
	text-align: center;
}

.button {
	display: flex;
	justify-content: center;
}

.list {
	display: flex;
	justify-content: center;
}

footer {
	background-color: rgb(118, 175, 201);
	max-width: 100%;
	max-height: 100px;
	padding: 1%;
}

img {
	animation: shake 2s ease-in-out infinite;
}

@keyframes shake {
	0% {
		transform: translateX(0);
	}

	20% {
		transform: translateX(-10px);
	}

	40% {
		transform: translateX(10px);
	}

	60% {
		transform: translateX(-10px);
	}

	80% {
		transform: translateX(10px);
	}

}