.container {
    margin-top: 10px;
    padding: 20px;
    border: solid #e5e5e5;
    border-radius: 10px;
    background: linear-gradient(#ABC7D9, #003049);
}

.inputButtonContainer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: rgba(255, 255, 255, 0.1);
    border: #fff;
    border-radius: 10px;
    margin-bottom: 5px;
}

.buttonCardContainer {
    display: grid;
    grid-gap: 1px;
    justify-content: center;

}

h1 {
    border-bottom: groove #FDF0D5;
    border-width: 0.5px;
    margin: 20px;
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    color: #FDF0D5;
}


input {
    border: #FEF8EC;
    background-color: rgb(254, 248, 236, 0.4);
    border-radius: 7px;
    margin-right: 5px;
    height: 30px;
    width: 850%;
    font-size: 15px;
    color: #003049;

}

.btn {
    background-color: #FEF8EC;
    border: #FDF0D5;
    height: 30px;
    font-size: 13px;
    color: #003049;

}

.btn:hover {
    background-color: #ABC7D9;
}

.weatherInfoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 105px;
    margin: 5px;
    background: rgba(255, 255, 255, 0.1);
    border: #fff;
    border-radius: 10px;
}

.weatherInfo {
    display: grid;
    grid-gap: 1px;
    justify-items: center;
    align-items: center;
}

h2 {
    color: #FDF0D5;
}

h3 {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 170;
    color: #FDF0D5;
}

.main-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    width: 410px;
    min-height: 175px;
    background: rgba(255, 255, 255, 0.1);
    border: #fff;
    border-radius: 10px;
}

h4 {
    display: flex;
    justify-content: center;
    color: #FDF0D5;
}

.mapContainer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 475px;
    padding-top: 45px;
    padding-bottom: 10px;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border: #fff;
    border-radius: 10px;
}

h5 {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 170;
    color: #FDF0D5;
}

#map {
    display: flex;
    justify-content: end;
    height: 400px;
    width: 450px;
    border-radius: 10px;
}

footer {
    display: flex;
    justify-content: center;
    color: #FEF8EC;
    margin-top: 20px;
    padding: 50px;
}