*{
 
    font-weight: 200;
}
.container {
    margin-top: 10px;
    border: solid 0.5px;
    border-radius: 5px;
}

input {
    background-color: #444444;
    height: 50px;
    text-align: end;  
}
.first {
    font-size: 30px;
}
.firstRow {
    background-color: #3b4042;
}
.operator {
    background-color: #FF9f06;
}
.button {
    border: solid 0.5px;

}
.numbers {
    background-color: #5a5a5b;
}

#equal {
    border-bottom-right-radius: 5px;
}
#zero {
    border-bottom-left-radius: 5px;
}